<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link rel="stylesheet" href="./assets/css/quiz.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="box col" style="display:flex;margin-top: 20px;">
            <img src="./assets/images/user.png" style="width:50px;" alt="">
            <div>
                <h5 style="padding-left: 10px;">Hari Guptha</h5>
                <h5 style="padding-left: 10px;">20UAI021</h5>
            </div>
        </div>

        <ul class="nav-links" style="padding-top: 90px;">
            <li>
                <a href="./qustion.html">
                    <i class='bx bx-message-square-dots'></i>
                    <span class="links_name">Current qustion</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message-square-check'></i>
                    <span class="links_name">Answered</span>
                </a>
            </li>
            <li>
                <a href="./unans.html">
                    <i class='bx bx-message-square-x'></i>
                    <span class="links_name">Not answered</span>
                </a>
            </li>
        </ul>
        <button class="btn" style="margin:130% 0 0 15%;border-color: white;padding:20px 50px ;">Logout</button>
        <h5 style="color: white;margin:40px 25px ;font-weight: 400;">Developed by InfiniteAid</h5>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <span class="dashboard">Mock test</span>
            </div>

            
        </nav>
        <br>
        <br>
        </div>
        
        <h1 style="color: black;padding-top: 10%;margin-left: 20px;">
            Answered Questions
        </h1>
        <div style="display: flex;justify-content: space-between;padding-top: 5%;">
            <button class="btn">
                Qustion 1
            </button>
            <button class="btn">
                Qustion 2
            </button>
            <button class="btn">
                Qustion 3
            </button>
            <button class="btn">
                Qustion 4
            </button>
        </div>
    </section>

</body>

</html>