<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="shortcut icon" href="./assets/images/exam.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

   

</head>
<body style="background-color: #ffffff;">
       <!-- Left Panel -->

       <aside id="left-panel" class="left-panel" style="background-color: #081D45;">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu"  style="padding-top: 30px;background-color: #081D45;">
                <ul class="nav navbar-nav" >
                    <div class="boxss col" style="display:flex;margin-top: 20px;">
                        <img src="./assets/images/user.png" style="width:50px;" alt="">
                        <div style="color: rgb(0, 0, 0);">
                            <h5 style="padding-left: 10px;padding-bottom:10px;">Hari Guptha</h5>
                            <h5 style="padding-left: 10px;">20UAI021</h5>
                        </div>
                    </div>
                    <li style="padding-top: 100px;">
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-message-square-dots'></i> Batch 1 Qustions</a>
                    </li>
                    <li>
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-message-square-dots'></i> Batch 2 Qustions</a>
                    </li>
                    <li >
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-message-square-dots'></i> Batch 3 Qustions</a>
                    </li>
                    <li >
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-message-square-dots'></i> Batch 4 Qustions</a>
                    </li>
                    <li >
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-message-square-dots'></i> Batch 5 Qustions</a>
                    </li>
                    <li>
                        <a style="font-size: 20px;" href="index.html"><i class='bx bx-food-menu'></i> Result</a>
                    </li>
                </ul>
                <button class="btn" style="margin:60% 0 0 15%;border-color: white;padding:20px 50px ;color: black;overflow:hidden">Logout</button>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
    
            <div class="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="row m-0">
                        <div class="col-sm-4">
                            <div class="page-header float-left">
                                <div class="page-title">
                                    <h1>Batch 4 Qustions</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <div class="animated fadeIn">
    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>1. what is your name ?</strong> <small> </small>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Qustion Feeder</strong> <small> </small>
                                </div>
                                <div class="card-body card-block">
                                    <div class="form-group">
                                        <label class=" form-control-label">Qustion</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="bx bx-message-square-dots"></i></div>
                                            <input class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="card box" >
                                        <ul style="width:40vw;margin:0px 30px ;font-weight: 600;">
                                            <br>
                                            <li>
                                                <input type="radio" name="name" id="one" checked />
                                                <label for="one"><input class="form-control" type="text"></label>
                                                
                                                <div class="check"></div>
                                            </li>
                                            
                                            <li style="margin-top: 40px;">
                                                <input type="radio" name="name" id="two" />
                                                <label for="two"><input class="form-control" type="text"></label>
                                                
                                                <div class="check"></div>
                                            </li>
                                            <li style="margin-top: 40px;">
                                                <input type="radio" name="name" id="three" />
                                                <label for="three"><input class="form-control" type="text"></label>
                                                
                                                <div class="check"></div>
                                            </li>
                                            <li style="margin-top: 40px;">
                                                <input type="radio" name="name" id="four" />
                                                <label for="four"><input class="form-control" type="text"></label>
                                                
                                                <div class="check"></div>
                                            </li>
                                        </ul>
                                        <br>
                                    </div>
                                    <br>
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
    
    </div><!-- .animated -->
    </div><!-- .content -->
</div>

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/init/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
      } );
  </script>


</body>
</html>
